<ion-content>
  <swiper-container>
    <swiper-slide>
      <img alt="Silhouette of mountains" src="../../../assets/land.jpeg" style="display: block; margin: auto; height: 100vh;" />
    </swiper-slide>
    <swiper-slide>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/logologin.jpeg" style="display: block; margin: auto;" />
          <ion-card-header>
            <ion-card-title style="text-align: center; color: darkorchid; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">LOGIN Leymi APP</ion-card-title>
            <ion-card-subtitle style="text-align: center; color: darkorchid; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Iniciar sesión</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            
              <ion-input type="text" placeholder="Usuario" name="txt_usu" id="txt_usu" formControlName="email"></ion-input><br/>
              <ion-input type="password" placeholder="Contraseña" name="txt_con" id="txt_con" formControlName="password"></ion-input><br/>
      
            <br/>
              <ion-button type="submit">
                Acceder
              </ion-button>
            
          </ion-card-content>
        </ion-card>
      </form>
    </swiper-slide>
  </swiper-container>
</ion-content>
